$main-color :  #FF6060;
$text-color : white;
$background-color : #F6F6F6;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $background-color;
    border-radius: 25px;
    margin-top: 30px;
    gap: 20px;
    padding: 30px;

    &__link {
        display: flex;
        width: 340px;
        height: 340px;
        cursor: pointer;     
        transition: transform 0.4s ease;
        
        &:hover {
            transform: scale(1.06);
        }  
    }

    @media (max-width : 1240px) {
        background-color: white;
    }
}


