$main-color :  #FF6060;
$text-color : white;

.img__home {
    display: flex;
    height: 223px;
    width: 1240px;

    img {
        width: 100%;
        object-fit: none;
        border-radius: 25px;
        opacity: 100%;
        position: relative;

    }
    
    p {
        color: $text-color;
        background-color: aqua;
        position: absolute;
        width: 100%;
        align-items: center;
        

    }
}