$main-color :  #FF6060;
$text-color : white;
$background-color : #F6F6F6;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $background-color;
    border-radius: 25px;
    margin-top: 30px;
    gap: 20px;
    padding: 30px;

    &__link {
        display: flex;
        width: 33%;
        width: 340px;
        height: 340px;
        cursor: pointer;     
}

.container__link:hover img {
            transform: scale(1.06);
        }}
        
.container__link img {
    transition: transform 0.4s ease;
}




