$main-color :  #FF6060;
$text-color : white;

// @import 'variables';

.carrousel {
    display: flex;
    max-width: 1240px;
    max-height: 415px;
    min-height: 255px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 10px;
        
    &__slide {
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__counter {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 10px;
        color: $text-color;
    }
}

.fa-chevron-left, .fa-chevron-right {
    display: flex;
    height: 80px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    color: $text-color;

}

.fa-chevron-left{
    left: 10px;
}
.fa-chevron-right {
    right: 10px;
}