@use "reset";
@use "variables";
// @font-face {
//     font-family: ;
//     src: url();
// }

body {
    font-family: Montserrat;
}

main {
    max-width: 800px;
    margin: auto;

    h1 {
        color: black
    }
}