@use "reset";
@use "variables";
@use "../components/Collapse/Collapse";

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
}

main {
    max-width: 1240px;
    margin: auto;

}