@use "reset";
@use "variables";
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 1240px;
    margin: auto;

    h1 {
        color: black
    }
}