@use "reset";
@use "variables";
// @font-face {
//     font-family: ;
//     src: url();
// }

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1240px;
    margin: auto;

    h1 {
        color: black
    }
}