$main-color :  #FF6060;


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    padding: 50px 0;

    a {
        color: $main-color;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
    }   

    .nav-active {
        text-decoration: underline;
    }

}

