$main-color :  #FF6060;


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 50px 100px;

    a {
        color: $main-color;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
    }   

    .nav-active {
        text-decoration: underline;
    }
}

