$main-color :  #FF6060;
$text-color : white;

.location__card {
    display: flex;
    width: 100%;
    position: relative;
}
    
        .image__cover {
            background-color: $main-color;
            width: 340px;
            height: 340px;
            border-radius: 10px;
        }

        .image__cover img {   
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;

        }


        .title__card {
            display: flex;
            position: absolute;
            color: $text-color;
            position: absolute;
            left: 10px;
            top: 290px;
            font-size: 18px;
            font-weight: 500;
        }
    
.link__container:hover img {
    transform: scale(1.06);
}

.link__container img {
    transition: transform 0.4s ease;
}
