$main-color :  #FF6060;
$text-color : white;
$background-color : #F6F6F6;

.container__collapse {
    display: flex;
    flex-direction: column;

    .each__collapse {
        display: flex;
        flex-direction: column;
        margin: 12px;
        align-items: center;
    

        &__header {
            display: flex;
            background-color: $main-color;
            color: $text-color;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            padding: 15px 35px 15px 35px;
            border-radius: 5px;
            width: 75%;
            transition: height 1s ease;
        }
    
        &__content {
            display: flex;
            justify-content: center;

            .content {
                background-color: $background-color;
                color: $main-color;
                width: 75%;
                margin: 0;
                padding: 25px 35px;
                border-radius: 5px;
                line-height: 1.5;
            }
        }
    }

    .hidden {
        display: none;
    }
}



