$main-color :  #FF6060;
$text-color : white;
$background-color : #F6F6F6;

.each__collapse {
    display: flex;
    flex-direction: column;
    margin: 12px;
    align-items: center;
    width: 100%;

    @media (max-width: 1240px) {
        min-width: 335px;
    }
    
    &__header {
        display: flex;
        background-color: $main-color;
        color: $text-color;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;
        border-radius: 5px;
        transition: height 1s ease;
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        width: 100%;

        .content {
            background-color: $background-color;
            color: $main-color;
            margin: 0;
            padding: 25px 35px;
            border-radius: 5px;
            line-height: 1.5;
            width: 100%;
        }
    }
}

.hidden {
    display: none;
}




