#footer {

    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
    

    &__logo {
        margin: 20px;
        padding: 30px;
    }

    .footer__copyright {
        font-size: 1.5em;

        @media (max-width : 380px) {
            font-size: 0.75em;
        }
    }
}